/* Import font family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
body{
  background-color: #F5F5F5;
}

/* header style start  */
.header-main{
  border-bottom: 2px solid #731054;
}

.logo{
  width: 56px;
  height: 32px;
}
/* header style end */

/* uploader styles start  */
.upload-button{
  background: linear-gradient(295.67deg, #DE0D6F 16.23%, #731054 83.77%);
}
.modal-title{
  font-family: 'Poppins';
  line-height: 24px;
}
.montserrat{
  font-family: 'Montserrat';
}
.modal-sub-title{
  font-family: 'Montserrat';
  color: #666666;
}

.modal-main{
  background: rgba(0, 0, 0, 0.15);
}

.field-color{
  background: #F2F2F2;
}



.modal-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 40px;   
  background: linear-gradient(295.67deg, #DE0D6F 16.23%, #731054 83.77%);
}


.note-progess{
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 16px;
}
.note-progess div div{
  background-color: #DE0D6F;
}
.note-progess h2{
  font-family: 'Montserrat', sans-serif;
}

.table-main{
  font-family: 'Montserrat', sans-serif;
  border-collapse: separate; 
  border-spacing: 0px 5px;
}
.tabel-row{
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

/* uploader styles end  */















